body{

font-family: Arial, sans-serif;
background:#f3f1ea;
margin:0;
text-align:center;

}

header{

background:white;
padding:20px;
box-shadow:0 2px 6px rgba(0,0,0,0.1);

}

h1{

color:#204a78;
margin:5px;

}

#userName{

font-size:18px;
margin-bottom:5px;

}

.progress{

font-weight:bold;
color:#555;

}

.album-grid{

display:grid;
grid-template-columns: repeat(3,1fr);
gap:20px;

padding:20px;

}

.sticker{

background:white;

border-radius:15px;

height:120px;

display:flex;
align-items:center;
justify-content:center;

box-shadow:0 4px 8px rgba(0,0,0,0.15);

font-size:40px;

}

.sticker img{

width:100%;
border-radius:12px;

}

.scanBtn{

background:#1f4e79;
color:white;

padding:15px 30px;

border:none;
border-radius:30px;

font-size:18px;

margin-bottom:30px;

}
