<!DOCTYPE html>
<html lang="es">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Álbum Digital</title>

<style>

body{
font-family: Arial;
background:#f2f2f2;
text-align:center;
}

h1{
color:#1c4d7a;
}

.album{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:15px;
max-width:600px;
margin:auto;
margin-top:30px;
}

.sticker{
width:100%;
aspect-ratio:1;
border:3px dashed #ccc;
border-radius:10px;
background:#ffffff;
display:flex;
align-items:center;
justify-content:center;
font-size:12px;
color:#aaa;
}

.sticker img{
width:100%;
border-radius:10px;
}

</style>

</head>

<body>

<h1>Álbum Digital</h1>

<h2 id="username">Usuario</h2>

<p>Progreso: <span id="progress">0 / 12</span></p>

<div class="album">

<div class="sticker"><img id="sticker1"></div>
<div class="sticker"><img id="sticker2"></div>
<div class="sticker"><img id="sticker3"></div>
<div class="sticker"><img id="sticker4"></div>

<div class="sticker"><img id="sticker5"></div>
<div class="sticker"><img id="sticker6"></div>
<div class="sticker"><img id="sticker7"></div>
<div class="sticker"><img id="sticker8"></div>

<div class="sticker"><img id="sticker9"></div>
<div class="sticker"><img id="sticker10"></div>
<div class="sticker"><img id="sticker11"></div>
<div class="sticker"><img id="sticker12"></div>

</div>

<script src="users.js"></script>
<script src="app.js"></script>

</body>
</html>
