<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Álbum Digital</title>

<style>

body{
font-family: Arial, sans-serif;
background:#f3f1ea;
text-align:center;
margin:0;
padding:20px;
}

h1{
color:#204a78;
}

#username{
margin-top:5px;
font-size:20px;
}

#progress{
font-weight:bold;
}

.album{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
max-width:500px;
margin:30px auto;
}

.album img{
width:100%;
border-radius:15px;
box-shadow:0 4px 8px rgba(0,0,0,0.2);
background:white;
padding:5px;
}

</style>

</head>

<body>

<h1>Álbum Digital</h1>

<h2 id="username"></h2>

<p>Progreso: <span id="progress">0 / 12</span></p>

<div class="album">

<img id="sticker1">
<img id="sticker2">
<img id="sticker3">

<img id="sticker4">
<img id="sticker5">
<img id="sticker6">

<img id="sticker7">
<img id="sticker8">
<img id="sticker9">

<img id="sticker10">
<img id="sticker11">
<img id="sticker12">

</div>

<script src="users.js"></script>
<script src="app.js"></script>

</body>
</html>
